@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
  --pink-gradient: linear-gradient(
    270deg,
    var(--accent1) 0%,
    var(--accent2) 100%
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 100%;
  font-weight: 300;
}

html,
body,
button,
select,
pre {
  font-family: 'Hiragino Sans', 'Protest Strike', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--w2);
}

body {
  color: var(--b1);
  background: var(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main1: #404666;
  --main2: #545974;
  --accent1: #d37e74;
  --accent2: #e5aaaa;
  --accent3: #e3c8c4;
  --b1: #484848;
  --b2: #828282;
  --b3: #c4c4c4;
  --w1: #ffffff;
  --w11: #fafafa;
  --w2: #f8f8f8;
  --w21: #f4f5f7;
  --w3: #efefef;
  --w4: #e5e5e5;
  --red1: #d24e4e;
  --blue1: #0071e3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--b1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
pre,
label {
  line-height: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'] {
  position: relative;
}
input[type='date']::-webkit-calendar-picker-indicator {
  color: var(--b1);
  opacity: 1;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.35669 21.0531H18.6965C19.7187 21.0531 20.4836 20.7992 20.9915 20.2914C21.4993 19.7901 21.7532 19.0349 21.7532 18.0258V6.10193C21.7532 5.09281 21.4993 4.33761 20.9915 3.8363C20.4836 3.32849 19.7187 3.07458 18.6965 3.07458H5.35669C4.33455 3.07458 3.56632 3.32849 3.052 3.8363C2.54419 4.33761 2.29028 5.09281 2.29028 6.10193V18.0258C2.29028 19.0349 2.54419 19.7901 3.052 20.2914C3.56632 20.7992 4.33455 21.0531 5.35669 21.0531ZM5.21021 19.4808C4.78052 19.4808 4.44849 19.3636 4.21411 19.1293C3.97974 18.9014 3.86255 18.5629 3.86255 18.1136V8.90466C3.86255 8.45544 3.97974 8.1169 4.21411 7.88904C4.44849 7.65466 4.78052 7.53748 5.21021 7.53748H18.8235C19.2597 7.53748 19.595 7.65466 19.8293 7.88904C20.0637 8.1169 20.1809 8.45544 20.1809 8.90466V18.1136C20.1809 18.5629 20.0637 18.9014 19.8293 19.1293C19.595 19.3636 19.2597 19.4808 18.8235 19.4808H5.21021ZM10.1223 11.0531H10.6985C10.8678 11.0531 10.9849 11.0205 11.05 10.9554C11.1217 10.8903 11.1575 10.7732 11.1575 10.6039V10.0277C11.1575 9.85844 11.1217 9.74451 11.05 9.68591C10.9849 9.62081 10.8678 9.58826 10.6985 9.58826H10.1223C9.95304 9.58826 9.8326 9.62081 9.76099 9.68591C9.69588 9.74451 9.66333 9.85844 9.66333 10.0277V10.6039C9.66333 10.7732 9.69588 10.8903 9.76099 10.9554C9.8326 11.0205 9.95304 11.0531 10.1223 11.0531ZM13.3645 11.0531H13.9407C14.1165 11.0531 14.2369 11.0205 14.302 10.9554C14.3671 10.8903 14.3997 10.7732 14.3997 10.6039V10.0277C14.3997 9.85844 14.3671 9.74451 14.302 9.68591C14.2369 9.62081 14.1165 9.58826 13.9407 9.58826H13.3645C13.1952 9.58826 13.078 9.62081 13.0129 9.68591C12.9478 9.74451 12.9153 9.85844 12.9153 10.0277V10.6039C12.9153 10.7732 12.9478 10.8903 13.0129 10.9554C13.078 11.0205 13.1952 11.0531 13.3645 11.0531ZM16.6165 11.0531H17.1829C17.3586 11.0531 17.4791 11.0205 17.5442 10.9554C17.6093 10.8903 17.6418 10.7732 17.6418 10.6039V10.0277C17.6418 9.85844 17.6093 9.74451 17.5442 9.68591C17.4791 9.62081 17.3586 9.58826 17.1829 9.58826H16.6165C16.4407 9.58826 16.3202 9.62081 16.2551 9.68591C16.19 9.74451 16.1575 9.85844 16.1575 10.0277V10.6039C16.1575 10.7732 16.19 10.8903 16.2551 10.9554C16.3202 11.0205 16.4407 11.0531 16.6165 11.0531ZM6.88013 14.2465H7.4563C7.62557 14.2465 7.74276 14.2139 7.80786 14.1488C7.87297 14.0837 7.90552 13.9665 7.90552 13.7972V13.2308C7.90552 13.0551 7.87297 12.9379 7.80786 12.8793C7.74276 12.8142 7.62557 12.7816 7.4563 12.7816H6.88013C6.70435 12.7816 6.5839 12.8142 6.5188 12.8793C6.45369 12.9379 6.42114 13.0551 6.42114 13.2308V13.7972C6.42114 13.9665 6.45369 14.0837 6.5188 14.1488C6.5839 14.2139 6.70435 14.2465 6.88013 14.2465ZM10.1223 14.2465H10.6985C10.8678 14.2465 10.9849 14.2139 11.05 14.1488C11.1217 14.0837 11.1575 13.9665 11.1575 13.7972V13.2308C11.1575 13.0551 11.1217 12.9379 11.05 12.8793C10.9849 12.8142 10.8678 12.7816 10.6985 12.7816H10.1223C9.95304 12.7816 9.8326 12.8142 9.76099 12.8793C9.69588 12.9379 9.66333 13.0551 9.66333 13.2308V13.7972C9.66333 13.9665 9.69588 14.0837 9.76099 14.1488C9.8326 14.2139 9.95304 14.2465 10.1223 14.2465ZM13.3645 14.2465H13.9407C14.1165 14.2465 14.2369 14.2139 14.302 14.1488C14.3671 14.0837 14.3997 13.9665 14.3997 13.7972V13.2308C14.3997 13.0551 14.3671 12.9379 14.302 12.8793C14.2369 12.8142 14.1165 12.7816 13.9407 12.7816H13.3645C13.1952 12.7816 13.078 12.8142 13.0129 12.8793C12.9478 12.9379 12.9153 13.0551 12.9153 13.2308V13.7972C12.9153 13.9665 12.9478 14.0837 13.0129 14.1488C13.078 14.2139 13.1952 14.2465 13.3645 14.2465ZM16.6165 14.2465H17.1829C17.3586 14.2465 17.4791 14.2139 17.5442 14.1488C17.6093 14.0837 17.6418 13.9665 17.6418 13.7972V13.2308C17.6418 13.0551 17.6093 12.9379 17.5442 12.8793C17.4791 12.8142 17.3586 12.7816 17.1829 12.7816H16.6165C16.4407 12.7816 16.3202 12.8142 16.2551 12.8793C16.19 12.9379 16.1575 13.0551 16.1575 13.2308V13.7972C16.1575 13.9665 16.19 14.0837 16.2551 14.1488C16.3202 14.2139 16.4407 14.2465 16.6165 14.2465ZM6.88013 17.4398H7.4563C7.62557 17.4398 7.74276 17.4105 7.80786 17.3519C7.87297 17.2868 7.90552 17.1664 7.90552 16.9906V16.4242C7.90552 16.2484 7.87297 16.1312 7.80786 16.0726C7.74276 16.0075 7.62557 15.975 7.4563 15.975H6.88013C6.70435 15.975 6.5839 16.0075 6.5188 16.0726C6.45369 16.1312 6.42114 16.2484 6.42114 16.4242V16.9906C6.42114 17.1664 6.45369 17.2868 6.5188 17.3519C6.5839 17.4105 6.70435 17.4398 6.88013 17.4398ZM10.1223 17.4398H10.6985C10.8678 17.4398 10.9849 17.4105 11.05 17.3519C11.1217 17.2868 11.1575 17.1664 11.1575 16.9906V16.4242C11.1575 16.2484 11.1217 16.1312 11.05 16.0726C10.9849 16.0075 10.8678 15.975 10.6985 15.975H10.1223C9.95304 15.975 9.8326 16.0075 9.76099 16.0726C9.69588 16.1312 9.66333 16.2484 9.66333 16.4242V16.9906C9.66333 17.1664 9.69588 17.2868 9.76099 17.3519C9.8326 17.4105 9.95304 17.4398 10.1223 17.4398ZM13.3645 17.4398H13.9407C14.1165 17.4398 14.2369 17.4105 14.302 17.3519C14.3671 17.2868 14.3997 17.1664 14.3997 16.9906V16.4242C14.3997 16.2484 14.3671 16.1312 14.302 16.0726C14.2369 16.0075 14.1165 15.975 13.9407 15.975H13.3645C13.1952 15.975 13.078 16.0075 13.0129 16.0726C12.9478 16.1312 12.9153 16.2484 12.9153 16.4242V16.9906C12.9153 17.1664 12.9478 17.2868 13.0129 17.3519C13.078 17.4105 13.1952 17.4398 13.3645 17.4398Z" fill="currentColor" /></svg>');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-width: thin;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
}
input[type='time']::-webkit-calendar-picker-indicator {
  color: var(--b1);
  opacity: 1;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M120 0C53.8312 0 0 53.8331 0 120C0 186.171 53.8312 240 120 240C186.169 240 240 186.171 240 120C240 53.8331 186.169 0 120 0Z" fill="currentColor"/><path d="M121.141 54.2616C115.136 54.2616 110.268 59.1286 110.268 65.1342V114.357L75.5587 149.066C71.3114 153.31 71.3114 160.195 75.5587 164.443C79.8047 168.688 86.6887 168.688 90.9356 164.443L132.015 123.365V112.225V65.1342C132.015 59.1286 127.147 54.2616 121.141 54.2616Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-width: thin;
  cursor: pointer;
  position: absolute;
  top: 0.6rem;
  left: 0.2rem;
}
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  color: var(--b1);
  opacity: 1;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.35669 21.0531H18.6965C19.7187 21.0531 20.4836 20.7992 20.9915 20.2914C21.4993 19.7901 21.7532 19.0349 21.7532 18.0258V6.10193C21.7532 5.09281 21.4993 4.33761 20.9915 3.8363C20.4836 3.32849 19.7187 3.07458 18.6965 3.07458H5.35669C4.33455 3.07458 3.56632 3.32849 3.052 3.8363C2.54419 4.33761 2.29028 5.09281 2.29028 6.10193V18.0258C2.29028 19.0349 2.54419 19.7901 3.052 20.2914C3.56632 20.7992 4.33455 21.0531 5.35669 21.0531ZM5.21021 19.4808C4.78052 19.4808 4.44849 19.3636 4.21411 19.1293C3.97974 18.9014 3.86255 18.5629 3.86255 18.1136V8.90466C3.86255 8.45544 3.97974 8.1169 4.21411 7.88904C4.44849 7.65466 4.78052 7.53748 5.21021 7.53748H18.8235C19.2597 7.53748 19.595 7.65466 19.8293 7.88904C20.0637 8.1169 20.1809 8.45544 20.1809 8.90466V18.1136C20.1809 18.5629 20.0637 18.9014 19.8293 19.1293C19.595 19.3636 19.2597 19.4808 18.8235 19.4808H5.21021ZM10.1223 11.0531H10.6985C10.8678 11.0531 10.9849 11.0205 11.05 10.9554C11.1217 10.8903 11.1575 10.7732 11.1575 10.6039V10.0277C11.1575 9.85844 11.1217 9.74451 11.05 9.68591C10.9849 9.62081 10.8678 9.58826 10.6985 9.58826H10.1223C9.95304 9.58826 9.8326 9.62081 9.76099 9.68591C9.69588 9.74451 9.66333 9.85844 9.66333 10.0277V10.6039C9.66333 10.7732 9.69588 10.8903 9.76099 10.9554C9.8326 11.0205 9.95304 11.0531 10.1223 11.0531ZM13.3645 11.0531H13.9407C14.1165 11.0531 14.2369 11.0205 14.302 10.9554C14.3671 10.8903 14.3997 10.7732 14.3997 10.6039V10.0277C14.3997 9.85844 14.3671 9.74451 14.302 9.68591C14.2369 9.62081 14.1165 9.58826 13.9407 9.58826H13.3645C13.1952 9.58826 13.078 9.62081 13.0129 9.68591C12.9478 9.74451 12.9153 9.85844 12.9153 10.0277V10.6039C12.9153 10.7732 12.9478 10.8903 13.0129 10.9554C13.078 11.0205 13.1952 11.0531 13.3645 11.0531ZM16.6165 11.0531H17.1829C17.3586 11.0531 17.4791 11.0205 17.5442 10.9554C17.6093 10.8903 17.6418 10.7732 17.6418 10.6039V10.0277C17.6418 9.85844 17.6093 9.74451 17.5442 9.68591C17.4791 9.62081 17.3586 9.58826 17.1829 9.58826H16.6165C16.4407 9.58826 16.3202 9.62081 16.2551 9.68591C16.19 9.74451 16.1575 9.85844 16.1575 10.0277V10.6039C16.1575 10.7732 16.19 10.8903 16.2551 10.9554C16.3202 11.0205 16.4407 11.0531 16.6165 11.0531ZM6.88013 14.2465H7.4563C7.62557 14.2465 7.74276 14.2139 7.80786 14.1488C7.87297 14.0837 7.90552 13.9665 7.90552 13.7972V13.2308C7.90552 13.0551 7.87297 12.9379 7.80786 12.8793C7.74276 12.8142 7.62557 12.7816 7.4563 12.7816H6.88013C6.70435 12.7816 6.5839 12.8142 6.5188 12.8793C6.45369 12.9379 6.42114 13.0551 6.42114 13.2308V13.7972C6.42114 13.9665 6.45369 14.0837 6.5188 14.1488C6.5839 14.2139 6.70435 14.2465 6.88013 14.2465ZM10.1223 14.2465H10.6985C10.8678 14.2465 10.9849 14.2139 11.05 14.1488C11.1217 14.0837 11.1575 13.9665 11.1575 13.7972V13.2308C11.1575 13.0551 11.1217 12.9379 11.05 12.8793C10.9849 12.8142 10.8678 12.7816 10.6985 12.7816H10.1223C9.95304 12.7816 9.8326 12.8142 9.76099 12.8793C9.69588 12.9379 9.66333 13.0551 9.66333 13.2308V13.7972C9.66333 13.9665 9.69588 14.0837 9.76099 14.1488C9.8326 14.2139 9.95304 14.2465 10.1223 14.2465ZM13.3645 14.2465H13.9407C14.1165 14.2465 14.2369 14.2139 14.302 14.1488C14.3671 14.0837 14.3997 13.9665 14.3997 13.7972V13.2308C14.3997 13.0551 14.3671 12.9379 14.302 12.8793C14.2369 12.8142 14.1165 12.7816 13.9407 12.7816H13.3645C13.1952 12.7816 13.078 12.8142 13.0129 12.8793C12.9478 12.9379 12.9153 13.0551 12.9153 13.2308V13.7972C12.9153 13.9665 12.9478 14.0837 13.0129 14.1488C13.078 14.2139 13.1952 14.2465 13.3645 14.2465ZM16.6165 14.2465H17.1829C17.3586 14.2465 17.4791 14.2139 17.5442 14.1488C17.6093 14.0837 17.6418 13.9665 17.6418 13.7972V13.2308C17.6418 13.0551 17.6093 12.9379 17.5442 12.8793C17.4791 12.8142 17.3586 12.7816 17.1829 12.7816H16.6165C16.4407 12.7816 16.3202 12.8142 16.2551 12.8793C16.19 12.9379 16.1575 13.0551 16.1575 13.2308V13.7972C16.1575 13.9665 16.19 14.0837 16.2551 14.1488C16.3202 14.2139 16.4407 14.2465 16.6165 14.2465ZM6.88013 17.4398H7.4563C7.62557 17.4398 7.74276 17.4105 7.80786 17.3519C7.87297 17.2868 7.90552 17.1664 7.90552 16.9906V16.4242C7.90552 16.2484 7.87297 16.1312 7.80786 16.0726C7.74276 16.0075 7.62557 15.975 7.4563 15.975H6.88013C6.70435 15.975 6.5839 16.0075 6.5188 16.0726C6.45369 16.1312 6.42114 16.2484 6.42114 16.4242V16.9906C6.42114 17.1664 6.45369 17.2868 6.5188 17.3519C6.5839 17.4105 6.70435 17.4398 6.88013 17.4398ZM10.1223 17.4398H10.6985C10.8678 17.4398 10.9849 17.4105 11.05 17.3519C11.1217 17.2868 11.1575 17.1664 11.1575 16.9906V16.4242C11.1575 16.2484 11.1217 16.1312 11.05 16.0726C10.9849 16.0075 10.8678 15.975 10.6985 15.975H10.1223C9.95304 15.975 9.8326 16.0075 9.76099 16.0726C9.69588 16.1312 9.66333 16.2484 9.66333 16.4242V16.9906C9.66333 17.1664 9.69588 17.2868 9.76099 17.3519C9.8326 17.4105 9.95304 17.4398 10.1223 17.4398ZM13.3645 17.4398H13.9407C14.1165 17.4398 14.2369 17.4105 14.302 17.3519C14.3671 17.2868 14.3997 17.1664 14.3997 16.9906V16.4242C14.3997 16.2484 14.3671 16.1312 14.302 16.0726C14.2369 16.0075 14.1165 15.975 13.9407 15.975H13.3645C13.1952 15.975 13.078 16.0075 13.0129 16.0726C12.9478 16.1312 12.9153 16.2484 12.9153 16.4242V16.9906C12.9153 17.1664 12.9478 17.2868 13.0129 17.3519C13.078 17.4105 13.1952 17.4398 13.3645 17.4398Z" fill="currentColor" /></svg>');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-width: thin;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
}
input[type='date']::-webkit-datetime-edit-fields-wrapper,
input[type='date']::-webkit-datetime-edit {
  position: relative;
  left: 1.2rem;
}
input[type='time']::-webkit-datetime-edit-fields-wrapper,
input[type='time']::-webkit-datetime-edit {
  position: relative;
}
input[type='datetime-local']::-webkit-datetime-edit-fields-wrapper {
  position: relative;
}
input[type='datetime-local']::-webkit-datetime-edit {
  position: relative;
  top: -0.3rem;
  left: 2.8rem;
}
